:root{
    background-image: url("./img/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 70px;
    color: white;
    font-family:Oxanium, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1{
    position: absolute;
    top: 210px; 
    left: 48%; 
    transform: translateX(-50%);
    color: rgb(201, 201, 201);
    text-align: center;
    width: 700px;
    font-size: 70px;
}

h2{
    position: absolute;
    top: 550px; 
    left: 48%;
    transform: translateX(-50%);
    color: rgb(237, 237, 237);
    text-align: center;
    width: 580px;
    font-size: 35px;
}

.navegação{
    position: absolute;
    width: 100%;
    left: 0;
    top: 22px;
    text-align: center;
    display: block;
}

.navegação a{
    display: inline-block;
    margin: 0 18px;
}

.Ostra{
    position: absolute;
    color: aliceblue;
    left: 3%;
    top: 18px;
}

.imagem{
    position: absolute;
    left: 1.5%;
    top: 19px;
}

.botao1{
    position: absolute;
    width: 140px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 700px;
    background-color: rgb(36, 87, 253);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.botao2{
    position: absolute;
    top: 10px;
    right: 20px;
    left: auto;
    width: 85px;
    font-size: 8px;
    padding: 4px 6px;
    background-color: rgb(36, 87, 253);
    border-radius: 10px;
}

/* TABLET */
@media (max-width: 1024px) {
    
    body {
        padding: 30px;
    }

    h1 {
        font-size: 48px;
        width: 500px;
        top: 280px;
    }

    .Ostra {
        left: 4.5%;
        font-size: 16px;
    }

    .imagem {
        left: 1.5%;
    }

    .botao2 {
        right: 18px;
        top: 18px;
        width: 85px;
        font-size: 9px;
        padding: 4px 6px;
    }

    .botao1 {
        width: 140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 550px;
        font-size: 12px;
    }

    .navegação {
        width: 100%;
        left: 0;
        top: 22px;
        text-align: center;
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
        width: 500px;
        top: 420px;
    }
}

/* Mobile */
@media (max-width: 932px) {
    h1{
        font-size: 28px;
        width: 320px;
        top: 300px;
    }

    h2{
        display: flex;
        font-size: 15px;
        width: 350px;
        top: 440px;
        left: 50%;
    }

    .Ostra{
        font-size: 12px;
        top: 20px;
        left: 7%;
    }

    .imagem{
        left: 2%;
    }

    .navegação{
        width: 100%;
        left: 0;
        top: 25px;
        text-align: center;
        font-size: 7px;
        gap: 1px;
    }

    .botao1{
        width: 110px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 550px;
        font-size: 10px;
    }

    .botao2{
        right: 15px;
        top: 20px;
        width: 51px;
        font-size: 5px;
        padding: 5px 8px;
    }
}